<div class="leftbar">
    <!-- Start Sidebar -->
    <div class="sidebar">
        <!-- Start Logobar -->
        <div class="logobar">
            <a href="/admin" class="logo logo-large"><img id="logo" src="/images/blackPOSlogo.png" class="img-fluid" alt="logo"></a>
            <a href="/admin" class="logo logo-small"><img  id="logo" src="/images/logo-small.png" class="img-fluid" alt="logo"></a>
        </div>
        <!-- End Logobar -->
        <!-- Start Navigationbar -->
        <div class="navigationbar">
            <ul class="vertical-menu active">
                <li>
                    <a href="/admin" class="border-bottom" style="padding: 16px 20px;">
                      <img src="/assets/images/svg-icon/dashboard.svg" class="img-fluid" style="font-size: 16px;" alt="dashboard"><span>Dashboard</span>
                    </a>
                </li>

                <li>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item border border-none">
                              <!-- <h2 class="accordion-header"> -->
                                <button class="accordion-button collapsed border-none accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="/images/icons8-shopping-64.png"  class="img-fluid" width="20px" style=" filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg); margin-left:-1px;" alt="basic"><span style="margin-left:10px ;">POS</span></i>
                                </button>
                              <!-- </h2> -->
                              <div id="collapseOne" class="accordion-collapse  collapse "  style="transition: none !important;"  data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-group list-group-flush">
                                        <a href="/user/pos" class="border-bottom"> <li class="list-group-item border-0" >POS</li></a>
                                        <a href="/user/orderlist" class="border-0 border-bottom"> <li class="list-group-item border-0">Orders</li></a>
                                    </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                </li>
             
                <li class="catviews">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border border-none">
                          <!-- <h2 class="accordion-header"> -->
                            <button class="accordion-button collapsed border-none accordion-header" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <img src="/assets/images/svg-icon/basic.svg" class="img-fluid " width="20px" style="filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg); margin-left:-1px;" alt="basic"><span style="margin-left:10px ;">Category</span></i>
                            </button>
                          <!-- </h2> -->
                          <div id="collapseTwo" class="accordion-collapse  collapse"  style="transition: none !important;"  data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <a href="/category/list" class="border-bottom"> <li class="list-group-item border-0" >Category</li></a>
                                    <a href="/category/subCategory" class="border-0 border-bottom"> <li class="list-group-item border-0">Sub Category</li></a> 
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                </li>

                <li class="braviews">
                    <a href="/brand/add" style="padding: 16px 20px;" class="border-bottom">
                      <img src="/assets/images/svg-icon/form_elements.svg"   class="img-fluid" alt="apps"><span style="font-size: 16px;">Brand</span>
                    </a>
                   
                </li>

                <li>
                    <a href="/unit/unit" style="padding: 16px 20px;">
                        <img src="/assets/images/svg-icon/form_elements.svg" class="img-fluid" alt="form_elements"><span style="font-size: 16px;">Unit</span>
                    </a>
                </li>

                <li class="proviews ">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border border-none">
                          <!-- <h2 class="accordion-header"> -->
                            <button class="accordion-button collapsed border-none accordion-header" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <img src="/assets/images/svg-icon/chart.svg" class="img-fluid" width="20px" style="filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg); margin-left:-1px;" alt="basic"><span style="margin-left:10px ;">Product</span></i>
                            </button>
                          <!-- </h2> -->
                          <div id="collapseThree" class="accordion-collapse  collapse"  style="transition: none !important;"  data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <a href="/product/add" class="border-bottom"> <li class="list-group-item border-0" >Add Product</li></a>
                                    <a href="/product/list" class="border-0 border-bottom"> <li class="list-group-item border-0">List</li></a> 
                                    <a href="/product/bulkimport" class="border-0 border-bottom"> <li class="list-group-item border-0">Bulk Import</li></a> 
                                    <a href="/product/export-Bulk" class="border-0 border-bottom"> <li class="list-group-item border-0">Bulk Export</li></a> 

                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                </li>

                <li class="limviews">
                    <a href="/product/limited" style="padding: 16px 20px;" class="border-bottom">
                        <img src="/assets/images/svg-icon/icons.svg" class="img-fluid" alt="icons"><span style="font-size: 16px;">Products Stock List</span>
                    </a>
                </li>
                
                <li class="couviews">
                    <a href="/coupon/list" style="padding: 16px 20px;">
                        <img src="/assets/images/svg-icon/tables.svg" class="img-fluid" alt="tables"><span style="font-size: 16px;">Coupons</span>
                    </a>
                </li>
                <li class="accviews">

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border border-none">
                          <!-- <h2 class="accordion-header"> -->
                            <button class="accordion-button collapsed border-none accordion-header" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <img src="/assets/images/svg-icon/maps.svg" class="img-fluid" width="20px" style="filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg); margin-left:-1px;" alt="basic"><span style="margin-left:10px ;">Account</span></i>
                            </button>
                          <!-- </h2> -->
                          <div id="collapseFour" class="accordion-collapse  collapse"  style="transition: none !important;"  data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <a href="/account/add" class="border-bottom"> <li class="list-group-item border-0" >Add New Account</li></a>
                                    <a href="/account/list" class="border-0 border-bottom"> <li class="list-group-item border-0">Account</li></a> 
                                    <a href="/account/expense" class="border-0 border-bottom"> <li class="list-group-item border-0">New Expense</li></a> 
                                    <a href="/account/income" class="border-0 border-bottom"> <li class="list-group-item border-0">New Income</li></a> 
                                    <a href="/account/transfer" class="border-0 border-bottom"> <li class="list-group-item border-0">New Transfer</li></a> 
                                    <a href="/account/transection" class="border-0 border-bottom"> <li class="list-group-item border-0">Transection List</li></a> 
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>



                  
                </li>


                <li class="comviews">
 
                    
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border border-none">
                          <!-- <h2 class="accordion-header"> -->
                            <button class="accordion-button collapsed border-none accordion-header" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <img src="/assets/images/svg-icon/widgets.svg" class="img-fluid " width="20px" style="filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg); margin-left:-1px;" alt="basic"><span style="margin-left:10px ;">Customer</span></i>
                            </button>
                          <!-- </h2> -->
                          <div id="collapseFive" class="accordion-collapse  collapse"  style="transition: none !important;"  data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <a href="/coustomer/add" class="border-bottom"> <li class="list-group-item border-0" >New Customer</li></a>
                                    <a href="/coustomer/list" class="border-0 border-bottom"> <li class="list-group-item border-0">Customer List</li></a> 
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                </li>                        
                <li class="supviews">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border border-none">
                          <!-- <h2 class="accordion-header"> -->
                            <button class="accordion-button collapsed border-none accordion-header" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                <img src="/assets/images/svg-icon/pages.svg" class="img-fluid " width="20px" style="filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg); margin-left:-1px;" alt="basic"><span style="margin-left:10px;">Supplier</span></i>
                            </button>
                          <!-- </h2> -->
                          <div id="collapseSix" class="accordion-collapse  collapse"  style="transition: none !important;"  data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <a href="/supplier/add" class="border-bottom"> <li class="list-group-item border-0" >Add Supplier</li></a>
                                    <a href="/supplier/list" class="border-0 border-bottom"> <li class="list-group-item border-0">Supplier List</li></a>
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>



                    <!-- <a href="javaScript:void();">
                      <img src="/assets/images/svg-icon/pages.svg" class="img-fluid" alt="pages"><span>Supplier</span><i class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li class="supadd d-none"><a href="/supplier/add">Add Supplier</a></li>
                        <li><a href="/supplier/list">Supplier List</a></li>
                    </ul> -->
                </li>

                <li class="setviews">

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item border border-none">
                          <!-- <h2 class="accordion-header"> -->
                            <button class="accordion-button collapsed border-none accordion-header" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                <img src="/assets/images/svg-icon/settings.svg" class="img-fluid" width="20px" style="filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg);  margin-left:-1px;" alt="basic"><span style="margin-left:10px;">Setting</span></i>
                            </button>
                          <!-- </h2> -->
                          <div id="collapseSeven" class="accordion-collapse  collapse"  style="transition: none !important;"  data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <a href="/wallet/home" class="border-bottom"> <li class="list-group-item border-0" >Shop Setup</li></a>
                                    <a href="/userrole/list" class="border-0"> <li class="list-group-item border-0">User</li></a> 
                                    <a href="/userrole/userRoles" class="border-0"> <li class="list-group-item border-0">User Roles</li></a> 
                                </ul>
                            </div>
                          </div>
                        </div> 
                      </div>
<!-- 
                    <a href="javaScript:void();">
                        <img src="/assets/images/svg-icon/settings.svg" class="img-fluid" alt="ecommerce"><span>Setting</span><i class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li class="supupdate d-none"><a href="/wallet/home">Shop Setup</a></li>
                        <li ><a href="/userrole/list">User</a></li>
                        <li><a href="/userrole/userRoles">User Roles</a></li>
                    </ul> -->
                </li>  
                
            </ul>
        </div>
        <!-- End Navigationbar -->
    </div>
    <style>
     
    </style>
    <!-- End Sidebar -->
</div>