<div class="leftbar">
    <!-- Start Sidebar -->
    <div class="sidebar">
        <!-- Start Logobar -->
        <div class="logobar">
            <a href="/admin" class="logo logo-large">
                <div class="d-flex align-items-center justify-content-center">
                    <% if (footer && footer.Logo) { %>
                        <img id="logo" src="/uploads/resized/<%= footer.Logo %>" class="img-fluid" alt="logo"
                            style="margin-right: 8px;">
                        <% } else { %>
                            <img id="logo" src="/uploads/defaults/logo.png" class="img-fluid" alt="default logo"
                                style="margin-right: 8px;">
                            <% } %>
                </div>
            </a>

            <a href="/admin" class="logo logo-small">
                <div class="d-flex align-items-center justify-content-center">
                    <% if (footer && footer.Logo) { %>
                        <img id="logo" src="/images/logo-small.png" class="img-fluid" alt="logo">
                        <% } else { %>
                            <img id="logo" src="/uploads/defaults/logo.png" class="img-fluid" alt="default logo"
                                style="height: 60px;">
                            <% } %>
                </div>
            </a>
        </div>
        <!-- End Logobar -->
        <!-- Start Navigationbar -->
        <div class="navigationbar">
            <ul class="vertical-menu active">
                <li>
                    <a href="/admin">
                        <img src="/assets/images/svg-icon/dashboard.svg" class="img-fluid"
                            alt="dashboard"><span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javaScript:void();">
                        <img src="/images/icons8-shopping-64.png" class="img-fluid" alt="basic"><span>POS</span><i
                            class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li><a href="/user/pos">POS</a></li>
                        <li><a href="/user/orderlist">Orders</a></li>

                    </ul>
                </li>

                <li class="catviews d-none">
                    <a href="javaScript:void();">
                        <img src="/assets/images/svg-icon/basic.svg" class="img-fluid"
                            alt="advanced"><span>Category</span><i class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li><a href="/category/list">Category</a></li>
                        <li><a href="/category/subCategory">Sub Category</a></li>

                    </ul>
                </li>

                <li class="braviews d-none">
                    <a href="/brand/add">
                        <img src="/assets/images/svg-icon/form_elements.svg" class="img-fluid"
                            alt="apps"><span>Brand</span>
                    </a>

                </li>

                <li>
                    <a href="/unit/unit">
                        <img src="/assets/images/svg-icon/form_elements.svg" class="img-fluid"
                            alt="form_elements"><span>Unit</span>
                    </a>
                </li>

                <li class="proviews d-none">
                    <a href="javaScript:void();">
                        <img src="/assets/images/svg-icon/chart.svg" class="img-fluid"
                            alt="chart"><span>Product</span><i class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li class="proadd d-none"><a href="/product/add">Add Product</a></li>
                        <li><a href="/product/list">List</a></li>
                        <li class="proadd d-none"><a href="/product/bulkimport">Bulk Import</a></li>
                        <li><a href="/product/export-Bulk">Bulk Export</a></li>
                    </ul>
                </li>

                <li class="limviews d-none">
                    <a href="/product/limited">
                        <img src="/assets/images/svg-icon/icons.svg" class="img-fluid" alt="icons"><span> Products Stock
                            List</span>
                    </a>
                </li>

                <li class="couviews d-none">
                    <a href="/coupon/list">
                        <img src="/assets/images/svg-icon/tables.svg" class="img-fluid"
                            alt="tables"><span>Coupons</span>
                    </a>
                </li>
                <li class="accviews d-none">
                    <a href="javaScript:void();">
                        <img src="/assets/images/svg-icon/maps.svg" class="img-fluid" alt="maps"><span>Account </span><i
                            class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li class="accadd d-none"><a href="/account/add"> Add New Account</a></li>
                        <li><a href="/account/list">Account</a></li>
                        <li class="expadd d-none"><a href="/account/expense">New Expense</a></li>
                        <li class="incadd d-none"><a href="/account/income">New Income</a></li>
                        <li class="accadd d-none"><a href="/account/transfer">New Transfer</a></li>
                        <li><a href="/account/transection">Transection List</a></li>
                    </ul>
                </li>


                <li class="comviews d-none">
                    <a href="widgets.html">
                        <img src="/assets/images/svg-icon/widgets.svg" class="img-fluid"
                            alt="widgets"><span>Customer</span><i class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li class="comadd d-none"><a href="/coustomer/add">New Customer</a></li>
                        <li><a href="/coustomer/list">Customer List</a></li>

                    </ul>
                </li>
                <li class="supviews d-none">
                    <a href="javaScript:void();">
                        <img src="/assets/images/svg-icon/pages.svg" class="img-fluid"
                            alt="pages"><span>Supplier</span><i class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">

                        <li class="supadd d-none"><a href="/supplier/add">Add Supplier</a></li>
                        <li><a href="/supplier/list">Supplier List</a></li>
                    </ul>
                </li>

                <li class="setviews d-none">
                    <a href="javaScript:void();">
                        <img src="/assets/images/svg-icon/settings.svg" class="img-fluid"
                            alt="ecommerce"><span>Setting</span><i class="feather icon-chevron-right pull-right"></i>
                    </a>
                    <ul class="vertical-submenu">
                        <li class="supupdate d-none"><a href="/wallet/home">Shop Setup</a></li>
                        <li><a href="/userrole/list">User</a></li>
                        <li><a href="/userrole/userRoles">User Roles</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- End Navigationbar -->
    </div>
    <!-- End Sidebar -->
</div>